<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="myReservationDao" class="concordia.soen387.project.Dao.MyReservationDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="reservationDao" class="concordia.soen387.project.Dao.ReservationDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="employeeDao" class="concordia.soen387.project.Dao.EmployeeDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="resourceDao" class="concordia.soen387.project.Dao.ResourceDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="buildingDao" class="concordia.soen387.project.Dao.BuildingDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="computerDao" class="concordia.soen387.project.Dao.ComputerDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="computerOsDao" class="concordia.soen387.project.Dao.ComputerOsDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="departmentDao" class="concordia.soen387.project.Dao.DepartmentDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="projectorDao" class="concordia.soen387.project.Dao.ProjectorDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="reservationResourceDao" class="concordia.soen387.project.Dao.ReservationResourceDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="roomDao" class="concordia.soen387.project.Dao.RoomDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userRoleDao" class="concordia.soen387.project.Dao.UserRoleDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userRolesDao" class="concordia.soen387.project.Dao.UserRolesDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="whiteBoardDao" class="concordia.soen387.project.Dao.WhiteBoardDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>
</beans>